@import url('pot.css');
@import url('body.css');
@import url('small-loner.css');


body {
  background-color: #D1EEEE;
}

article {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

hr {
  margin-top: 15px;
  border-color: brown;
}
