.pot {
  height: 145px;
  width: 212px;
  background-color: brown;
  border-bottom-left-radius: 100px 212px;
  border-bottom-right-radius: 100px 212px;
}

.pot-top {
  height: 50px;
  width: 230px;
  background-color: coral;
  border-radius: 5%;
}
