.pot {
  height: 115px;
  width: 190px;
  background-color: brown;
  border-bottom-left-radius: 120px 212px;
  border-bottom-right-radius: 120px 212px;
}

.pot-top {
  height: 45px;
  width: 202px;
  background-color: coral;
  border-radius: 5px;
}
