.left-ear,
.right-ear {
  height: 70px;
  width: 70px;
  background-color: #59260f;
  border-radius: 50px;
}

.left-ear {
  float: left;
}

.right-ear {
  float: right;
}

.left-inner-ear,
.right-inner-ear {
  height: 45px;
  width: 50px;
  background-color: #673213;
  border-radius: 50px;
  margin: 12px 0 0 10px;
}

.left-inner-ear {
  border-bottom-right-radius: 60px 56px;
}

.right-inner-ear {
  border-bottom-left-radius: 60px 56px;
}
