.face {
  border-bottom-left-radius: 300px 255px;
  border-bottom-right-radius: 300px 255px;
  border-top-left-radius: 285px 320px;
  border-top-right-radius: 285px 320px;
  height: 300px;
  width: 300px;
  background-color: #59260f;
}
